@import "tailwindcss";

:root {
  font-family: "Geist Variable", sans-serif;
  color-scheme: light;
  --color-background: #f8fafc;
  --color-surface: #ffffff;
  --color-text-primary: #0f172a;
  --color-text-secondary: #64748b;
  --color-accent: #2563eb;
  --color-accent-hover: #1d4ed8;
  --color-border: #e2e8f0;
  --color-accent-soft: color-mix(in srgb, var(--color-accent) 8%, transparent);
  --color-accent-tint: color-mix(in srgb, var(--color-accent) 16%, white);
  --color-accent-glow: color-mix(in srgb, var(--color-accent) 45%, transparent);
  --color-accent-shadow: color-mix(
    in srgb,
    var(--color-accent) 20%,
    transparent
  );
  --color-accent-wash: color-mix(in srgb, var(--color-accent) 10%, white);
  --color-accent-wash-strong: color-mix(
    in srgb,
    var(--color-accent) 60%,
    white
  );
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  background: var(--color-background);
  color: var(--color-text-primary);
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}

[data-theme="dark"] {
  color-scheme: dark;

  --color-background: #050505;
  --color-surface: #0d0d0d;
  --color-text-primary: #f8fafc;
  --color-text-secondary: #94a3b8;
  --color-accent: #60a5fa;
  --color-accent-hover: #3b82f6;
  --color-border: #1e293b;

  --color-accent-soft: color-mix(in srgb, var(--color-accent) 8%, transparent);

  --color-accent-tint: color-mix(in srgb, var(--color-accent) 16%, black);

  --color-accent-glow: color-mix(in srgb, var(--color-accent) 45%, transparent);

  --color-accent-shadow: color-mix(
    in srgb,
    var(--color-accent) 20%,
    transparent
  );

  --color-accent-wash: color-mix(in srgb, var(--color-accent) 10%, black);

  --color-accent-wash-strong: color-mix(
    in srgb,
    var(--color-accent) 60%,
    black
  );
}
